<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document</title>
    <script src="https://use.fontawesome.com/6e42fc46b0.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap/js/bootstrap.min.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/userdash.css')}}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-2" id="sidebar">
                <ul class="sidebar-menu">
                    <li>
                        <a href="" class="active"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-shopping-bag" aria-hidden="true"></i> Domains</a>
                    </li>
                </ul>
            </aside>

            <main class="col-md-10" id="main">
                <section class="spacethis">
                    <h3 class="title">Overview</h3>
                    <div class="row mobile-scrollable">
                        <div class="col-md-3">
                            <div class="dash-card">
                                <i class="fa fa-car"></i>
                                <p>Available Drivers</p>
                                <h1 class="text-success">500</h1>
                                <button type="button" class="btn btn-theme">Know More</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dash-card">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                <p>Pending Orders</p>
                                <h1 class="text-danger">500</h1>
                                <button type="button" class="btn btn-theme">Know More</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dash-card">
                                <i class="fa fa-history" aria-hidden="true"></i>
                                <p>Ongoing Orders</p>
                                <h1 class="text-warning">500</h1>
                                <button type="button" class="btn btn-theme">Know More</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dash-card">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <p>Delivered Orders</p>
                                <h1 class="text-success">500</h1>
                                <button type="button" class="btn btn-theme">Know More</button>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="spacethis">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="title">Requests</h5>
                            <div class="md-card">
                                <table class="table table-hover no-border">
                                    <thead>
                                        <tr>
                                            <th scope="col">Type</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Content</th>
                                            <th scope="col">Proxied</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for subdomain in subdomains %}
                                            <tr>
                                                <td>{{ subdomain.type }}</td>
                                                <td>
                                                    <img class="table-user" src="image/man.jpg" alt=""> {{ subdomain.name }}
                                                </td>
                                                <td>{{ subdomain.content }}</td>
                                                <td>{{ subdomain.proxied }}</td>
                                                <td>
                                                    <span class="badge badge-pill badge-danger">Ongoing</span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</body>
</html>
