<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlossomDNS | Home</title>
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/bootstrap/css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/bootstrap/js/bootstrap.min.js') }}">
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <meta name="google-adsense-account" content="ca-pub-6122367965027230">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container py-4">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" id="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://discord.gg/AeTcwsQEjC">Discord</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container py-4">
        <div class="jumbotron">
            <h1 class="display-4">BlossomDNS</h1>
            <p class="lead">A free subdomain project by BlossomDNS.</p>
            <hr class="my-4">
            <p>Always wanted a FREE subdomain? You came to the right place.</p>
        </div>
    </div>

    <script>
        document.getElementById('navbar-toggler').addEventListener('click', function () {
            var navbarNav = document.querySelector('.navbar-collapse');
            navbarNav.classList.toggle('show');
        });
    </script>
</body>
</html>