<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/bootstrap/css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/bootstrap/js/bootstrap.min.js') }}">

    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/Google-Style-Login-.css') }}">
</head>

<body>
    <div class="login-card"><img class="profile-img-card" src="{{ url_for('static',filename='styles/img/avatar_2x.png') }}">
        <p class="profile-name-card"> </p>
        <form class="form-signin", method="POST"><span class="reauth-email"> </span>
            <input class="form-control" type="email" id="inputEmail" required="" placeholder="Email address" autofocus="", name = "email">
            <input class="form-control" type="password" id="inputPassword" required="" placeholder="Password", name = "password">
            <div class="checkbox"></div><button class="btn btn-primary btn-lg d-block btn-signin w-100" type="submit">Sign in</button>
        </form>
    </div>
    <script src="static/styles/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>