body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://getwallpapers.com/wallpaper/full/f/9/d/508720.jpg");
}
.login-card {
    background-color: #F7F7F7;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-align: center;
    animation-name: slideIn;
    animation-duration: 0.5s, 2s;
    animation-timing-function: ease-out, cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-iteration-count: 1, infinite;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar {
    background-color: transparent !important;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar-nav {
    justify-content: center;
    text-align: center;
    margin-left: 0;
    gap: 10px;
    padding: 10px;
    margin-left: 510px;
}

.nav-link {
    color: white !important;
    position: relative;
    transition: all 0.3s ease-in-out;
    padding: 10px 15px;
    text-align: center;
    display: block;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-nav {
        justify-content: space-around;
        text-align: center;
        margin-left: 0;
        gap: 10px;
        padding: 10px;
    }
}
